.App {
  text-align: center;
}

.bdoy {
  height: 100vh;
  
  background-color: #282c34;
  
}

.cards-cont {
  padding: 20px;

  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 768px) {
  .bdoy{
    height: 100%;
  }
}
  



